<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css" media="all" />
  <link media="all" type="text/css" rel="stylesheet" href="/assets/css/report-page.css">
  <link type="text/css" rel="stylesheet" href="/assets/css/animate.min.css" />
  <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap-datepicker.standalone.min.css" />
  <link type="text/css" rel="stylesheet" href="/assets/css/font-awesome.min.css" />
  <script type="text/javascript" src="/assets/js/libs/js.cookie.js"></script>
  <script type="text/javascript" src="/assets/js/libs/angular/angular.min.js"></script>
  <script type="text/javascript" src="/assets/js/libs/fuse.min.js"></script>
  <script type="text/javascript" src="/assets/js/libs/barcode-scanner.js"></script>
  <script type="text/javascript" src="/assets/js/libs/library.js"></script>
  <link media="all" type="text/css" rel="stylesheet" href="/assets/css/style.css">
  <link type="text/css" rel="stylesheet" href="/assets/css/responsive-shit.css" />
  <script type="text/javascript" src="/assets/js/scripts/helpers.js"></script>
  <script type="text/javascript" src="/assets/js/scripts/liveorlocal.js"></script>
  <script type="text/javascript" src="/assets/js/scripts/sdk.js"></script>
  <script type="text/javascript" src="/assets/js/scripts/batch.js"></script>
</head>

<body ng-app="coretrix" style="direction: rtl;">

  <head>
    <title>{{title}}</title>
  </head>
  <div class="container logs logs-noblur">
    <div ng-controller="mainCtrl">
      <div class="col s12 hideonprint" style="margin-top:3%;">
        <div class="card-panel animated slideInDown">
          <h4 class="center-align">إختيار الفتره الزمنية والسنة</h4>
          <div class="row">
            <div class="col s12">
              <label>السنه الدراسيه</label>
              <select class="browser-default" ng-options="i as grades_names[i] for i in grades"
                ng-model="selected_grade" ng-change="grade_changed()">
                <option value="" disabled selected>السنة الدراسية</option>
            </div>
            <div class="col s12">
              <label>الفتره الزمنية</label>
              <select class="browser-default" ng-change="calcDates()"
                ng-options="i as {'lastweek': 'آخر اسبوع', 'lastmonth': 'آخر شهر', 'all': 'كل الوقت'}[i] for i in ['lastweek', 'lastmonth', 'all']"
                ng-model="selected_timeSelector">
                <option value="" disabled selected>اختر الفتره الزمنية</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m6 l6">
              <input id="end_date" type="text" class="datepicker" style="text-align: right; cursor:pointer"
                placeholder="تاريخ النهاية" readonly>
            </div>
            <div class="col s12 m6 l6">
              <input id="start_date" type="text" class="datepicker" style="text-align: right; cursor:pointer"
                placeholder="تاريخ البداية" readonly>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <button ng-click="printPage()" class="btn gradient2">إطبع</button>
              <button ng-click="reload()" style="margin-right:0.5%" class="btn gradient2">حمل البيانات</button>
              <div style="display:inline-block;margin-right:1%">
                <input ng-model="onlyUnattendedClasses" type="checkbox" id="onlyUnattendedClasses" />
                <label for="onlyUnattendedClasses">الحصص التى لم يحضرها فقط</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 hideonprint">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">اظهار واخفاء</div>
            <div class="collapsible-body">
              <div>
                <label>بيانات الطالب</label>
                <br>
                <div style="display:inline-block;margin-right:1%">
                  <input ng-model="showOptions.showGrade" ng-change="saveShowOptions()" type="checkbox"
                    id="showGrade" />
                  <label for="showGrade">الصف</label>
                </div>
                <div style="display:inline-block;margin-right:1%">
                  <input ng-model="showOptions.showGroup" ng-change="saveShowOptions()" type="checkbox"
                    id="showGroup" />
                  <label for="showGroup">المجموعة</label>
                </div>
                <div style="display:inline-block;margin-right:1%">
                  <input ng-model="showOptions.showAddDate" ng-change="saveShowOptions()" type="checkbox"
                    id="showAddDate" />
                  <label for="showAddDate">تاريخ الاضافة</label>
                </div>
                <div style="display:inline-block;margin-right:1%">
                  <input ng-model="showOptions.showNotes" ng-change="saveShowOptions()" type="checkbox"
                    id="showNotes" />
                  <label for="showNotes">ملاحظات</label>
                </div>
                <div style="display:inline-block;margin-right:1%">
                  <input ng-model="showOptions.showUnattendedClasses" ng-change="saveShowOptions()" type="checkbox"
                    id="showUnattendedClasses" />
                  <label for="showUnattendedClasses">عدد الحصص التى لم يحضرها</label>
                </div>
                <div style="display:inline-block;margin-right:1%">
                  <input ng-model="showOptions.showUnattendedExams" ng-change="saveShowOptions()" type="checkbox"
                    id="showUnattendedExams" />
                  <label for="showUnattendedExams">عدد الامتحانات التى لم يحضرها</label>
                </div>
                <div style="display:inline-block;margin-right:1%">
                  <input ng-model="showOptions.showQuizPercentage" ng-change="saveShowOptions()" type="checkbox"
                    id="showQuizPercentage" />
                  <label for="showQuizPercentage">النسبة المئوية للتسميع</label>
                </div>
                <div style="display:inline-block;margin-right:1%">
                  <input ng-model="showOptions.showHomeworkPercentage" ng-change="saveShowOptions()" type="checkbox"
                    id="showHomeworkPercentage" />
                  <label for="showHomeworkPercentage">النسبة المئوية للواجب</label>
                </div>
                <div style="display:inline-block;margin-right:1%">
                  <input ng-model="showOptions.showClassPercentage" ng-change="saveShowOptions()" type="checkbox"
                    id="showClassPercentage" />
                  <label for="showClassPercentage">النسبة المئوية للتسميع والواجب</label>
                </div>
                <div style="display:inline-block;margin-right:1%">
                  <input ng-model="showOptions.showExamPercentage" ng-change="saveShowOptions()" type="checkbox"
                    id="showExamPercentage" />
                  <label for="showExamPercentage">النسبة المئوية للامتحانات</label>
                </div>
                <div style="display:inline-block;margin-right:1%">
                  <input ng-model="showOptions.showExamQuizPercentage" ng-change="saveShowOptions()" type="checkbox"
                    id="showExamQuizPercentage" />
                  <label for="showExamQuizPercentage">النسبة المئوية للامتحانات</label>
                </div>
                <div style="display:inline-block;margin-right:1%">
                  <input ng-model="showOptions.showPercentage" ng-change="saveShowOptions()" type="checkbox"
                    id="showPercentage" />
                  <label for="showPercentage">النسبة المئوية للكل</label>
                </div>
              </div>
              <div>
                <label>الدفع</label>
                <br>
                <div style="display:inline-block;margin-right:1%" ng-repeat="item in items">
                  <input ng-model="selected_items[item.id]" type="checkbox" id="item{{item.id}}" />
                  <label for="item{{item.id}}">{{ item.name }}</label>
                </div>
              </div>
              <div>
                <label>الامتحانات</label>
                <br>
                <div style="display:inline-block;margin-right:1%">
                  <input ng-model="showOptions.showExamMark" ng-change="saveShowOptions()" type="checkbox"
                    id="showExamMark" />
                  <label for="showExamMark">درجة الامتحان</label>
                </div>
                <div style="display:inline-block;margin-right:1%">
                  <input ng-model="showOptions.showExamGrading" ng-change="saveShowOptions()" type="checkbox"
                    id="showExamGrading" />
                  <label for="showExamGrading">تقدير الامتحانات</label>
                </div>
              </div>
              <div>
                <label>الحصص</label>
                <br>
                <div style="display:inline-block;margin-right:1%">
                  <input ng-model="showOptions.showClassHomework" ng-change="saveShowOptions()" type="checkbox"
                    id="showClassHomework" />
                  <label for="showClassHomework">الواجب</label>
                </div>
                <div style="display:inline-block;margin-right:1%">
                  <input ng-model="showOptions.showClassQuiz" ng-change="saveShowOptions()" type="checkbox"
                    id="showClassQuiz" />
                  <label for="showClassQuiz">التسميع</label>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header">الطلاب</div>
            <div class="collapsible-body">
              <div class="col s12 responsive_search hideonprint">
                <input placeholder="ابحث عن طالب" ng-model="searchQuery" type="search" required>
              </div>

              <div class="col" style="float: right; padding-bottom: 12px">
                <input ng-model="selectAll" type="checkbox" id="selectAll" ng-change="ensureSelectAll()" />
                <label for="selectAll">تحديد الكل</label>
              </div>

              <div class="
                  logs">
                <table>
                  <tr>
                    <th>
                      اسم الطالب
                    </th>
                  </tr>
                  <tr ng-repeat="n in students | fuse : searchQuery">
                    <td>
                      <input type="checkbox" ng-model="n.selected" id="cid{{n.studentid}}" class="checkbox" />
                      <label for="cid{{n.studentid}}"> </label>
                      {{n.fullname}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col s12" ng-repeat="report in reports">
        <h5 class="center-align" style="margin: 0; padding-top: 20px;">بيانات الطالب</h5>
        <span class="center-align" style="width: 100%; margin-bottom: 18px; display: block">{{profile.name}}</span>
        <table style="margin-top: 0">
          <tr>
            <td width="50%">الاسم
              <span>:</span>
            </td>
            <td>{{ report.student.fullname }}</td>
          </tr>
          <tr ng-show="showOptions.showGroup">
            <td>المجموعه
              <span>:</span>
            </td>
            <td>
              {{ report.student.groupinfo[0].name }}</td>
          </tr>
          <tr ng-show="showOptions.showGrade">
            <td>الصف
              <span>:</span>
            </td>
            <td>{{ grades_names[report.student.grade] }}</td>
          </tr>
          <tr ng-show="showOptions.showAddDate">
            <td>تاريخ الاضافة
              <span>:</span>
            </td>
            <td>{{ report.student.date_created }}</td>
          </tr>
          <tr ng-show="notes && showNotes">
            <td>ملاحظات
              <span>:</span>
            </td>
            <td>{{ report.student.notes }}</td>
          </tr>
          <tr ng-show="showOptions.showUnattendedClasses">
            <td>عدد الحصص التى لم يحضرها
              <span>:</span>
            </td>
            <td>{{ report.unattendedClassesCount || 0 }}</td>
          </tr>
          <tr ng-show="showOptions.showUnattendedExams">
            <td>عدد الامتحانات التى لم يحضرها
              <span>:</span>
            </td>
            <td>{{ report.unattendedExamsCount || 0 }}</td>
          </tr>
          <tr ng-show="showOptions.showQuizPercentage">
            <td>النسبة المئوية للتسميع
              <span>:</span>
            </td>
            <td>
              {{report.quizAverage || 0}}% {{gradeMark(quizAverage, 100)}}
            </td>
          </tr>
          <tr ng-show="showOptions.showHomeworkPercentage">
            <td>النسبة المئوية للواجب
              <span>:</span>
            </td>
            <td>
              {{report.homeworkAverage || 0}}% {{gradeMark(homeworkAverage, 100)}}
            </td>
          </tr>
          <tr ng-show="showOptions.showClassPercentage">
            <td>النسبة المئوية للتسميع والواجب
              <span>:</span>
            </td>
            <td>
              {{report.classAverage || 0}}% {{gradeMark(classAverage, 100)}}
            </td>
          </tr>
          <tr ng-show="showOptions.showExamPercentage">
            <td>النسبة المئوية للامتحانات
              <span>:</span>
            </td>
            <td>
              {{report.examsAverage || 0}}% {{gradeMark(examsAverage, 100)}}
            </td>
          </tr>
          <tr ng-show="showOptions.showExamQuizPercentage">
            <td>النسبة المئوية للامتحانات والتسميعات
              <span>:</span>
            </td>
            <td>
              {{report.examQuizAverage || 0}}% {{gradeMark(examQuizAverage, 100)}}
            </td>
          </tr>
          <tr ng-show="showOptions.showPercentage">
            <td>النسبة المئوية للكل
              <span>:</span>
            </td>
            <td>
              {{report.totalAverage || 0}}% {{gradeMark(totalAverage, 100)}}
            </td>
          </tr>
          <tr ng-repeat="p in report.items" ng-show="selected_items[p.id]">
            <td>
              {{ p.name }}
              <span>:</span>
            </td>
            <td>
              <p style="margin: inherit" ng-class="p.payClass">{{p.payText}}
                <i class="fa fa-info-circle" style="margin-right: 1%"></i>
              </p>
            </td>
          </tr>
        </table>
        <table>
          <h5 class="center-align">الامتحانات</h5>
          <thead>
            <tr>
              <th>
                الامتحان
              </th>
              <th>الحضور</th>
              <th ng-show="showOptions.showExamMark">الدرجه</th>
              <th ng-show="showOptions.showExamGrading">التقدير</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="e in report.exams">
              <td>
                {{e.name}}
              </td>
              <td>{{e.log.attendant ? 'حضر' : 'لم يحضر'}}</td>
              <td ng-show="showOptions.showExamMark">{{e.log.mark >= 0 ? (e.log.mark + ' / ' + e.max_mark) : 'لم تسجل
                درجة للطالب'}}</td>
              <td ng-show="showOptions.showExamGrading">{{ gradeMark(e.log.mark, e.max_mark) || '---' }}</td>
            </tr>
          </tbody>
        </table>
        <table>
          <h5 class="center-align">الغياب</h5>
          <thead>
            <tr>
              <th>اليوم</th>
              <th>الحضور</th>
              <th ng-show="showOptions.showClassQuiz">درجه التسميع</th>
              <th ng-show="showOptions.showClassHomework">الواجب</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="c in report.classes" ng-show="!onlyUnattendedClasses || !c.log.attendant">
              <td>{{sd(c.date)}}</td>
              <td>{{c.log.attendant ? 'حضر' : 'لم يحضر'}}</td>
              <td ng-show="showOptions.showClassQuiz">{{c.log.quiz ? (c.log.quiz.type == 'marks' ? c.log.quiz.mark + ' /
                ' + c.log.quiz.max :
                (quizNames[c.log.quiz.option])) : 'لم يسجل تسميع الطالب'}}</td>
              <td ng-show="showOptions.showClassHomework">{{c.log.homework ? (c.log.homework.type == 'marks' ?
                c.log.homework.mark + '/' + c.log.homework.max
                : (c.log.homework.option == 'incomplete' ? 'غير مكتمل' : 'كامل')) : 'لم يسجل واجب الطالب'}}</td>
            </tr>
          </tbody>
        </table>
        <div class="pagebreak"></div>
      </div>
    </div>
  </div>
  <pre id="log"></pre>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="/assets/js/libs/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/assets/js/libs/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="/assets/js/libs/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('.datepicker').datepicker({
        todayHighlight: true,
        endDate: new Date(new Date().getTime() + (1000 * 60 * 60 * 24))
      });
    });
  </script>
</body>

</html>