<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css" media="all" />
  <link media="all" type="text/css" rel="stylesheet" href="../assets/css/style.css">
  <link type="text/css" rel="stylesheet" href="/assets/css/animate.min.css" />
  <link media="all" type="text/css" rel="stylesheet" href="/assets/css/font-awesome.min.css" />
  <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap-datepicker.standalone.min.css" />
  <link media="all" type="text/css" rel="stylesheet" href="/assets/css/responsive-shit.css" />
  <link media="all" type="text/css" rel="stylesheet" href="/assets/css/report-page.css">
  <script type="text/javascript" src="/assets/js/libs/barcode-scanner.js"></script>
  <script type="text/javascript" src="/assets/js/libs/angular/angular.min.js"></script>
  <script type="text/javascript" src="/assets/js/libs/fuse.min.js"></script>
  <script type="text/javascript" src="/assets/js/libs/js.cookie.js"></script>
  <script type="text/javascript" src="/assets/js/libs/library.js"></script>
  <script type="text/javascript" src="/assets/js/scripts/helpers.js"></script>
  <script type="text/javascript" src="/assets/js/scripts/liveorlocal.js"></script>
  <script type="text/javascript" src="/assets/js/scripts/sdk.js"></script>
  <script type="text/javascript" src="../assets/js/scripts/exam_logs.js"></script>
  <style>

    @media print {
      table{
        width: 100%;
        margin: none;
        border: none;
        padding: none;
      }
      .logs td {
        padding: 0;
        border: none;
      }
      .logs th {
        padding: 0;
        border: none;
        padding: 0;
        margin: 0;
        font-style: italic;
        color: black;
        box-shadow: none;
        text-shadow: none;
      }
      .logs{
        text-align: center;
        font-size: smaller;
        border: none;
      }
      .logs th:first-child{
        box-shadow: none;
        border: none;
      }
      .logs th:last-child{
        box-shadow: none;
        border: none;
      }
    }        
    </style>
</head>

<body ng-app="coretrix" class="grey lighten-2" style="direction: rtl;">

  <head>
    <title>{{title}}</title>
  </head>
  <div class="contanier-fluid" ng-controller="mainCtrl">
    <div class="row">
      <div class="container">
        <div class="showonprint">
          <h3 class="center-align">{{selected_exam.name}}</h3>
          <h6 class="center-align">{{'الصف ' + grades_names[selected_grade]}}</h6>
        </div>
        <div class="col l12 m12 s12">
          <div class="card-panel hide_on_mobile hideonprint animated slideInDown" style="padding:2%; margin-bottom:2%;margin-top:2%;"
            id="exam_selector">
            <h4 class="center-align">إختيار الإمتحان</h4>
            <div class="row">
              <div class="col s6">
                <label>الإمتحان</label>
                <select class="browser-default" ng-options="e as e.name for e in exams" ng-change="reload()" ng-model="selected_exam">
                  <option value="" disabled selected>اختر الإمتحان</option>
                </select>
              </div>
              <div class="col s6 ">
                <label>السنه الدراسيه</label>
                <select class="browser-default" ng-options="i as grades_names[i] for i in grades" ng-change="grade_changed()"
                  ng-model="selected_grade">
                  <option value="" disabled selected>السنه</option>
                </select>
              </div>
            </div>
            <div style="margin-top:2%;">
              <button ng-click="prepareExamDel()" style="margin-left:0.5%" class="btn red btn tooltipped" data-position="bottom"
                data-tooltip="امسح الإمتحان">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              <button href="#addExam_modal" style="margin-left:0.5%" class="btn modal-trigger btn tooltipped"
                data-position="bottom" data-tooltip="أضف إمتحان">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
              </button>
              <button ng-click="printPage()" style="margin-left: 0.5%;" class="btn blue-grey-background">إطبع</button>
              <button ng-click="sendSMS()" style="left: 0;" class="btn blue-grey">تبليغ</button>
            </div>
          </div>
          <div class="card-panel hideonprint animated slideInDown" id="selector_1">
            <h4 class="center-align row">تصفية</h4>
            <div class="row">
              <div class="col s12">
                <div class="">
                  <label>الدرجة</label>
                  <input style="padding-right:1%" type="number" ng-model="filterMark">
                </div>
                <div style="margin-bottom:1%">
                  <input ng-model="filterLogs" type="checkbox" id="enablefilter" />
                  <label for="enablefilter">تصفيه؟</label>
                </div>
                <div class="">
                  <input name="filterMarkSelector" value="gt" ng-model="filterMarkSelector" type="radio" id="markgt" />
                  <label for="markgt">أكبر من</label>
                  <input name="filterMarkSelector" value="eq" ng-model="filterMarkSelector" type="radio" id="markeq" />
                  <label for="markeq">يساوى</label>
                  <input name="filterMarkSelector" value="lt" ng-model="filterMarkSelector" type="radio" id="marklt" />
                  <label for="marklt">أصفر من</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="deleteExam_modal" class="modal">
          <div class="modal-content gradient">
            <h4>هل تريد حذف الإمتحان ؟</h4>
            <p>عند حذف الإمتحان لا يمكنك استرجاع بياناته</p>
          </div>
          <div class="modal-footer gradient2">
            <a ng-click="delete_exam()" class="modal-action modal-close waves-effect waves-green btn-flat">اوافق</a>
            <a class="modal-action modal-close waves-effect waves-red btn-flat">لا</a>
          </div>
        </div>
        <div id="addExam_modal" class="modal animated slideInDown">
          <div class="modal-content">
            <div class="row">
              <div class="col s12">
                <label>اسم الامتحان</label>
                <input type="text" ng-model="newExam_name">
              </div>
              <div class="col s6">
                <label>الخط الأحمر</label>
                <input type="number" min="5" max="{{newExam_max}}" ng-model="newExam_redline">
              </div>
              <div class="col s6">
                <label>الدرجة النهائية</label>
                <input type="number" min="5" max="200" ng-model="newExam_max">
              </div>
              <div class="col s12">
                <label>اختر السنه</label>
                <select class="browser-default" ng-model="addExam_selectedGrade" ng-options="g as grades_names[g] for g in allowedGrades">
                  <option value="" disabled selected>اختر السنه</option>
                </select>
              </div>
            </div>
            <div class="modal-footer gradient2">
              <a ng-click="addExam()" class="waves-effect waves-green btn-flat">أضف الإمتحان</a>
              <a class="modal-action modal-close waves-effect waves-red btn-flat">إلغاء</a>
            </div>
          </div>
        </div>
        <div class="col s12 animated slideInUp hideonprint">
          <div class="row">
            <div class="col s12 l8 m8" style="float: right;">
              <input ng-model="searchText" ng-keypress="logSearchedAttendance($event)" ng-change="search()" class="autocomplete searchitem"
                style="padding-right: 1%; /* for the text */" placeholder="ابحث عن طالب" id="searchStudents" type="search"
                required>
            </div>
            <div class="col s4">
              <button class="btn-flat search-filter waves-effect" id="btn_selector_1">تصفيه</button>
              <button class="btn-flat search-filter waves-effect btn_switch" style="margin-right:2%;">اعدادات</button>
            </div>
          </div>
        </div>
        <div style="margin-bottom:1%">
          <div style="display: inline-block;">
            <input ng-model="globalAttendanceCheck" ng-change="setGlobalAttendance()" type="checkbox" id="globalAttendanceCheck" />
            <label for="globalAttendanceCheck"">حضور الكل</label>
          </div>
          <div style=" display:
              inline-block; margin-right: 16px;">
              <input ng-model="barcodeAttendanceCheck" type="checkbox" id="barcodeAttendanceCheck" />
              <label for="barcodeAttendanceCheck"">تسجيل الغياب بالباركود</label>
          </div>
        </div>
        <div class="
                logs logs-noblur hide_on_mobile">
                <table class="animated slideInUp">
                  <tr>
                    <th>
                      اسم الطالب
                    </th>
                    <th>
                      الدرجة
                    </th>
                  </tr>
                  <tr ng-repeat="n in logs" ng-show="!filterLogs || (filterLogs && ((filterMarkSelector=='lt' && n.log.mark < filterMark) || (filterMarkSelector=='eq' && n.log.mark == filterMark) || (filterMarkSelector=='gt' && n.log.mark > filterMark)))">
                    <td style="width: 25%">
                      <p style="display:inline;">
                        <input type="checkbox" ng-model="n.log.attendant" ng-change="attendanceChanged(n)" id="cid{{n.studentid}}" />
                        <label for="cid{{n.studentid}}">{{n.codeName}}</label>
                        <i style="margin-right:3%">{{n.fullname}}</i>
                      </p>
                    </td>
                    <td style="width: 20%">
                      <p class="showonprint">{{n.log.mark ? (n.log.mark + ' / ' + selected_exam.max_mark) : 'لم تسجل
                        درجة
                        للطالب'}}</p>
                      <div class="hideonprint" style="display: inline-flex">
                        <input ng-init="n.log.mark = n.log.mark ? n.log.mark : 0" type="number" ng-model="n.log.mark"
                          ng-blur="markChanged(n)">
                        <p style="width: 100%; margin-right: 8%; direction: ltr; font-size: larger;">{{selected_exam.max_mark}}
                          من</p>
                      </div>
                    </td>
                  </tr>
                </table>
          </div>
          <div class="logs logs-noblur only_on_mobile">
            <table class="animated slideInUp">
              <tr>
                <th>
                  اسم الطالب
                </th>
                <th>
                  الدرجة
                </th>
              </tr>
              <tr ng-repeat="n in logs">
                <td style="width:70%;">
                  <p style="display:inline;">
                    <input type="checkbox" ng-model="n.log.attendant" ng-change="attendanceChanged(n)" id="cid{{n.studentid}}" />
                    <label for="cid{{n.studentid}}">{{n.codeName}}</label>
                    <i>{{n.fullname}}</i>
                  </p>
                </td>
                <td>
                  <p class="showonprint">{{n.log.mark ? (n.log.mark + ' / ' + selected_exam.max_mark) : 'لم تسجل درجة
                    للطالب'}}</p>
                  <div class="hideonprint" style="display: inline-flex">
                    <input ng-init="n.log.mark = n.log.mark ? n.log.mark : 0" type="number" ng-model="n.log.mark"
                      ng-blur="markChanged(n)">
                    <p style="width: 100%; direction: ltr; font-size: larger;">{{selected_exam.max_mark}} /</p>
                  </div>
                </td>
              </tr>
            </table>
          </div>

        </div>
      </div>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="/assets/js/libs/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="/assets/js/libs/bootstrap-datepicker.min.js"></script>
      <script type="text/javascript" src="/assets/js/libs/materialize.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function () {
          $('.modal').modal();
          $('.tooltipped').tooltip({
            delay: 50
          });
          $(".btn_switch").click(function () {
            $("#exam_selector").slideToggle("slow");
          });
        });
        s1 = $("#selector_1");
        b1 = $("#btn_selector_1");
        b1.click(function () {
          s1.slideToggle("slow");
        });
        $("#exam_selector").css("display", "none");
        $("#selector_1").css("display", "none");
      </script>
      <script type="text/javascript" src="/assets/js/scripts/selectonfocus.js"></script>
</body>

</html>