<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"
        media="all" />
    <link media="all" type="text/css" rel="stylesheet" href="/assets/css/font-awesome.min.css"
    />
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap-datepicker.standalone.min.css"
    />
    <script type="text/javascript" src="/assets/js/libs/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/js/libs/fuse.min.js"></script>
    <script type="text/javascript" src="/assets/js/libs/js.cookie.js"></script>
    <link type="text/css" rel="stylesheet" href="/assets/css/animate.min.css" />
    <script type="text/javascript" src="/assets/js/libs/library.js"></script>
    <link media="all" type="text/css" rel="stylesheet" href="/assets/css/style.css">
    <link media="all" type="text/css" rel="stylesheet" href="/assets/css/responsive-shit.css" />
    <link media="all" type="text/css" rel="stylesheet" href="/assets/css/report-page.css">
    <script type="text/javascript" src="/assets/js/scripts/helpers.js"></script>
    <script type="text/javascript" src="/assets/js/scripts/liveorlocal.js"></script>
    <script type="text/javascript" src="/assets/js/scripts/sdk.js"></script>
    <script type="text/javascript" src="/assets/js/scripts/logs.js"></script>
</head>

<body ng-app="coretrix" class="grey lighten-2" style="direction: rtl;">

    <head>
        <title>{{title}}</title>
    </head>
    <div class="contanier-fluid" ng-controller="mainCtrl">
        <div class="row">
            <div class="container">
                <div class="showonprint">
                    <h2 class="center-align">تقرير الحصه</h2>
                    <h6 class="center-align">{{'الصف ' + grades_names[selected_grade]}}</h6>
                    <h6 class="center-align">{{selected_class.date}}</h6>
                </div>
                <div>
                    <div class="col l12 m12 s12">
                        <div class="card-panel hideonprint animated slideInDown" id="selector_1">
                            <h4 class="center-align row">تصفية</h4>
                            <div class="row">
                                <div class="col s12 l4 m4">
                                    <div>
                                        <label>نوع سجل الواجب</label>
                                        <select class="browser-default" ng-options="i as {'marks': 'درجات', 'general': 'عام', 'all': 'الكل'}[i] for i in ['all','general', 'marks']"
                                            ng-model="filterHomeworkType"></select>
                                    </div>
                                    <div ng-show="filterHomeworkType!='all'" class="col l6 s12" style="float:right;">
                                        <label>القيمة</label>
                                        <select ng-show="filterHomeworkType=='general'" class="browser-default" ng-options="i as {'incomplete': 'غير مكتمل', 'complete': 'كامل', 'all': 'الكل'}[i] for i in ['all','complete','incomplete']"
                                            ng-model="filterHomeworkOption"></select>
                                        <input ng-show="filterHomeworkType=='marks'" style="padding-right:1%" type="number" ng-model="filterHomeworkMark">
                                    </div>
                                    <div ng-show="filterHomeworkType=='marks'" class="col s12">
                                        <input name="homeworkMarkSelector" value="gt" ng-model="homeworkMarkSelector" type="radio" id="homeworkgt" />
                                        <label for="homeworkgt">أكبر من</label>
                                        <input name="homeworkMarkSelector" value="eq" ng-model="homeworkMarkSelector" type="radio" id="homeworkeq" />
                                        <label for="homeworkeq">يساوى</label>
                                        <input name="homeworkMarkSelector" value="lt" ng-model="homeworkMarkSelector" type="radio" id="homeworklt" />
                                        <label for="homeworklt">أصفر من</label>
                                    </div>
                                </div>
                                <div class="col s12 l4 m4">
                                    <div>
                                        <label>نوع سجل التسميع</label>
                                        <select class="browser-default" ng-options="i as {'marks': 'درجات', 'general': 'عام', 'all': 'الكل'}[i] for i in ['all','general', 'marks']"
                                            ng-model="filterQuizType"></select>
                                    </div>
                                    <div ng-show="filterQuizType!='all'" class="col l6 s12" style="float:right;">
                                        <label>القيمة</label>
                                        <select ng-show="filterQuizType=='general'" class="browser-default" ng-options="i as {'absent': 'لم يسمّع', 'done': 'سمّع', 'all':'الكل'}[i] for i in ['all','done', 'absent']"
                                            ng-model="filterQuizOption">
                                            <option value="" disabled selected>إختر</option>
                                        </select>
                                        <input ng-show="filterQuizType=='marks'" style="padding-right:1%" type="number" ng-model="filterQuizMark">
                                    </div>
                                    <div ng-show="filterQuizType=='marks'" class="col s12">
                                        <input name="quizMarkSelector" value="gt" ng-model="quizMarkSelector" type="radio" id="quizgt" />
                                        <label for="quizgt">أكبر من</label>
                                        <input name="quizMarkSelector" value="eq" ng-model="quizMarkSelector" type="radio" id="quizeq" />
                                        <label for="quizeq">يساوى</label>
                                        <input name="quizMarkSelector" value="lt" ng-model="quizMarkSelector" type="radio" id="quizlt" />
                                        <label for="quizlt">أصفر من</label>
                                    </div>
                                </div>
                                <div class="col s12 l4 m4 ">
                                    <label>المجموعة</label>
                                    <select class="browser-default" ng-options="i as i.name for i in groups" ng-model="selected_group">
                                        <option value="" disabled selected>المجموعة التى تم تسجيل غياب الطلاب بها</option>
                                    </select>
                                    <button class="btn blue-grey" ng-click="selected_group=null" style="margin-top:3%;">
                                        <!-- set all = null not just groups ! -->
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l12 m12 s12">
                        <div class="card-panel  hideonprint animated slideInDown" id="selector_2">
                            <div class="row">
                                <h4 class="center-align">إختيار الحصة</h4>
                                <div class="col s12 l6 m6">
                                    <label>السنه الدراسيه</label>
                                    <select class="browser-default" ng-options="i as grades_names[i] for i in grades" ng-change="grade_changed()" ng-model="selected_grade">
                                        <option value="" disabled selected>السنه</option>
                                    </select>
                                </div>
                                <div class="col s12 l6 m6">
                                    <label>الحصة</label>
                                    <select class="browser-default" ng-options="c as (c.date + (c.addedClass ? ' - حصة إضافية' : '') + (c.classnum != null ? ' - الحصة ' + NumericOrderStrings[c.classnum] : '') + (c.linksString ? ' - ' + c.linksString : '')) for c in classes"
                                        ng-model="selected_class" ng-change="reload()">
                                        <option value="" disabled selected>اختر الحصة</option>
                                    </select>
                                </div>
                            </div>
                            <div style="margin-top:2%;">
                                <button ng-click="prepareClassDel()" style="margin-left:0.5%" class="btn red tooltipped margin_bottom_on_mobile" data-position="bottom"
                                    data-tooltip="امسح الحصه">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                <button href="#addClass_modal" style="margin-left:0.5%" class="btn gradient3 modal-trigger tooltipped margin_bottom_on_mobile"
                                    data-position="bottom" data-tooltip="حصة إضافية">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                                </button>
                                <button href="#defaultSettings_modal" style="margin-left:0.5%" class="modal-trigger btn gradient2">تعديل الإعدادات الإفتراضيه</button>
                                <button ng-click="printPage()" style="left: 0;" class="btn gradient2">إطبع</button>
                            </div>
                        </div>
                    </div>
                    <div id="defaultSettings_modal" class="modal">
                        <div class="modal-content gradient">
                            <h4 class="center-align">الإعدادات الإفتراضية</h4>
                            <label>نوع سجل الواجب</label>
                            <select class="browser-default" ng-options="i as {'marks': 'درجات', 'general': 'عام', 'none': 'لا تعدله'}[i] for i in ['none','general', 'marks']"
                                ng-model="globalHomeworkType">
                                <option value="" disabled selected>إختر</option>
                            </select>
                            <div ng-show="globalHomeworkType == 'marks'">
                                <label>درجة الواجب</label>
                                <input style="padding-right:1%" type="number" ng-model="globalHomeworkMax">
                            </div>
                            <label>نوع سجل التسميع</label>
                            <select class="browser-default" ng-options="i as {'marks': 'درجات', 'general': 'عام', 'none': 'لا تعدله'}[i] for i in ['none','general', 'marks']"
                                ng-model="globalQuizType">
                                <option value="" disabled selected>إختر</option>
                            </select>
                            <div ng-show="globalQuizType == 'marks'">
                                <label>درجة التسميع</label>
                                <input style="padding-right:1%" type="number" ng-model="globalQuizMax">
                            </div>
                        </div>
                        <div class="modal-footer gradient2">
                            <a ng-click="setSettings()" class="modal-action modal-close waves-effect waves-green btn-flat">جدد سجلات الطلاب</a>
                            <a class="modal-action modal-close waves-effect waves-red btn-flat">إلغاء</a>
                        </div>
                    </div>
                    <div id="deleteClass_modal" class="modal">
                        <div class="modal-content gradient">
                            <h4>هل تريد حذف الحصة ؟ </h4>
                            <p>عند حذف الحصة لا يمكنك استرجاع بياناتها</p>
                        </div>
                        <div class="modal-footer gradient2">
                            <a ng-click="delete_class()" class="modal-action modal-close waves-effect waves-green btn-flat">اوافق</a>
                            <a class="modal-action modal-close waves-effect waves-red btn-flat">لا</a>
                        </div>
                    </div>
                    <div id="addClass_modal" class="modal">
                        <div class="modal-content" style="margin-top:2%">
                            <h4 class="center-align">أضف حصة</h4>
                            <input id="class_date" type="text" class="datepicker" style="text-align: right; cursor:pointer" placeholder="تاريخ اول حصة"
                                readonly>
                            <label>السنة</label>
                            <select class="browser-default" ng-options="i as grades_names[i] for i in grades" ng-model="selected_grade">
                                <option value="" disabled selected>السنه</option>
                            </select>
                            <label>الحصة</label>
                            <select class="browser-default" ng-options="i as NumericOrderStrings[i] for i in classesLinks" ng-model="selected_classnum">
                                <option value="" disabled selected>الحصة</option>
                            </select>
                            <div style="margin-top:2%; margin-right: 1%">
                                <input type="checkbox" ng-model="addedClass" id="addedClassId" />
                                <label for="addedClassId">حصة إضافية ؟</label>
                            </div>
                            <div class="modal-footer" style="margin-top: 2%;">
                                <a style="padding-right:1%" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="addClass()">أضف الحصة</a>
                                <a class="modal-action modal-close waves-effect waves-green btn-flat">إلغاء</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end of container-->
            </div>
            <!-- end of row -->
            <div class="row">
                <div class="col s12 l6 m6 animated slideInLeft hideonprint offset-l2 offset-m2">
                    <div class="row">
                        <div class="col s12 l5 m5 ">
                            <button id="btn_selector_2" class="btn-flat search-filter waves-effect">اعدادات</button>
                            <button id="btn_selector_1" class="btn-flat search-filter waves-effect" style="margin-right:2%;">تصفيه</button>
                        </div>
                        <div class="col s12 l7 m7">
                            <input ng-model="searchText" ng-keypress="logSearchedAttendance($event)" ng-change="search()" class="autocomplete searchitem"
                                style="padding-right: 1%; /* for the text */" placeholder="ابحث عن طالب" id="searchStudents"
                                type="search" required>
                        </div>
                    </div>
                </div>
                <div class="col s12 l1 m1 hideonprint">
                    <input type="checkbox" ng-model="blurTable" id="blurTable" ng-change="setBlurCookie()" />
                    <label for="blurTable">تظليل</label>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="logs" ng-class="blurTable ? '' : 'logs-noblur'">
                        <table class="animated slideInUp hide_on_mobile" style="margin-top: 0">
                            <tr>
                                <th>
                                    اسم الطالب
                                </th>
                                <th>
                                    المجموعه
                                </th>
                                <th class="hideonprint">
                                    نوع سجل التسميع
                                </th>
                                <th>
                                    درجة التسميع
                                </th>
                                <th class="hideonprint">
                                    نوع سجل الواجب
                                </th>
                                <th>
                                    درجة الواجب
                                </th>
                            </tr>
                            <!-- <div ng-show="table.show"> -->
                            <!-- groups filter -->
                            <!-- (selected_group != null ? n.log.groupid==selected_group.id : true) -->
                            <!-- homework type filter -->
                            <!-- (filterHomeworkType != 'all' ? n.log.homework.type==filterHomeworkType : true)-->
                            <!-- homework general filter -->
                            <!-- ((filterHomeworkType == 'general' && n.log.homework.type == 'general') ? (filterHomeworkOption == 'all' ? true : filterHomeworkOption==n.log.homework.option) : true)-->
                            <!-- homework marks filter -->
                            <!-- ((filterHomeworkType == 'marks' && n.log.homework.type == 'marks') ? compare(n.log.homework.mark, filterHomeworkMark, homeworkMarkSelector) : true)-->
                            <!-- quiz type filter -->
                            <!-- (filterQuizType != 'all' ? n.log.quiz.type==filterQuizType : true)-->
                            <!-- quiz general filter -->
                            <!-- ((filterQuizType == 'general' && n.log.quiz.type == 'general') ? (filterQuizOption == 'all' ? true : filterQuizOption==n.log.quiz.option) : true)-->
                            <!-- quiz marks filter -->
                            <!-- ((filterQuizType == 'marks' && n.log.quiz.type == 'marks') ? compare(n.log.quiz.mark, filterQuizMark, quizMarkSelector) : true)-->
                            <tr ng-repeat="n in logs" ng-show="(selected_group != null ? n.log.groupid==selected_group.id : true) && (filterHomeworkType != 'all' ? n.log.homework.type==filterHomeworkType : true) && ((filterHomeworkType == 'general' && n.log.homework.type == 'general') ? (filterHomeworkOption == 'all' ? true : filterHomeworkOption==n.log.homework.option) : true) && ((filterHomeworkType == 'marks' && n.log.homework.type == 'marks') ? compare(n.log.homework.mark, filterHomeworkMark, homeworkMarkSelector) : true) && (filterQuizType != 'all' ? n.log.quiz.type==filterQuizType : true) && ((filterQuizType == 'general' && n.log.quiz.type == 'general') ? (filterQuizOption == 'all' ? true : filterQuizOption==n.log.quiz.option) : true) && ((filterQuizType == 'marks' && n.log.quiz.type == 'marks') ? compare(n.log.quiz.mark, filterQuizMark, quizMarkSelector) : true)">
                                <td style="width: 25%">
                                    <p style="display:inline;">
                                        <input type="checkbox" ng-model="n.log.attendant" ng-change="studentAttendanceChanged(n)" id="cid{{n.studentid}}" class="checkbox"
                                        />
                                        <label for="cid{{n.studentid}}">{{n.codeName}}</label>
                                        <i style="margin-right:3%">{{n.fullname}}</i>
                                    </p>
                                </td>
                                <td style="width: 20%">
                                    <p class="showonprint">{{groupsNames[n.log.groupid]}}</p>
                                    <select class="hideonprint" class="browser-default hideonprint" ng-options="i as groupsNames[i] for i in groupsIds" ng-model="n.log.groupid"
                                        ng-change="studentGroupChanged(n)">
                                        <option value="" disabled selected>المجموعة التى حضر بها الطالب</option>
                                    </select>
                                </td>
                                <td style="width: 10%" class="hideonprint">
                                    <select class="browser-default" ng-options="i as {'marks': 'درجات', 'general': 'عام'}[i] for i in ['general', 'marks']" ng-model="n.log.quiz.type">
                                        <option value="" disabled selected>إختر</odption>
                                    </select>
                                </td>
                                <td style="width: 10%">
                                    <div ng-show="n.log.quiz.type == 'marks'">
                                        <p class="showonprint">{{n.log.quiz.mark + ' / ' + n.log.quiz.max }}</p>
                                        <div class="hideonprint" style="display: inline-flex">
                                            <input type="number" value="20" ng-model="n.log.quiz.mark" ng-blur="quizChanged(n)">
                                            <i style="padding: 10%">من</i>
                                            <input type="number" value="20" ng-model="n.log.quiz.max" ng-blur="quizChanged(n)">
                                        </div>
                                    </div>
                                    <div ng-show="n.log.quiz.type == 'general'">
                                        <p class="showonprint">{{{'absent': 'لم يسمّع', 'done': 'سمّع'}[n.log.quiz.option]}}</p>
                                        <select class="hideonprint" class="browser-default" ng-options="i as {'absent': 'لم يسمّع', 'done': 'سمّع'}[i] for i in ['done', 'absent']"
                                            ng-model="n.log.quiz.option" ng-change="quizChanged(n)">
                                            <option value="" disabled selected>إختر</option>
                                        </select>
                                    </div>
                                </td>
                                <td style="width: 10%" class="hideonprint">
                                    <select class="browser-default" ng-options="i as {'marks': 'درجات', 'general': 'عام'}[i] for i in ['general', 'marks']" ng-model="n.log.homework.type">
                                        <option value="" disabled selected>إختر</option>
                                    </select>
                                </td>
                                <td style="width: 10%">
                                    <div style="display: inline-flex" ng-show="n.log.homework.type == 'marks'">
                                        <input type="number" value="20" ng-model="n.log.homework.mark" ng-blur="homeworkChanged(n)">
                                        <i style="padding: 10%">من</i>
                                        <input type="number" value="20" ng-model="n.log.homework.max" ng-blur="homeworkChanged(n)">
                                    </div>
                                    <div ng-show="n.log.homework.type == 'general'">
                                        <p class="showonprint">{{{'incomplete': 'غير مكتمل', 'complete': 'كامل'}[n.log.homework.option]}}</p>
                                        <select class="hideonprint browser-default" ng-show="n.log.homework.type == 'general'" class="browser-default" ng-options="i as {'incomplete': 'غير مكتمل', 'complete': 'كامل'}[i] for i in ['incomplete', 'complete']"
                                            ng-model="n.log.homework.option" ng-change="homeworkChanged(n)">
                                            <option value="" disabled selected>إختر</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <!-- </div> -->
                        </table>
                    </div>
                     <div class="logs containers" ng-class="blurTable ? '' : 'logs-noblur'">
                       <table class="animated slideInUp responsive-table only_on_mobile">
                           <tr>
                               <th>
                                   اسم الطالب
                               </th>
                               <th>
                                   المجموعه
                               </th>
                               <th class="hideonprint">
                                   نوع سجل التسميع
                               </th>
                               <th>
                                   درجة التسميع
                               </th>
                               <th class="hideonprint">
                                   نوع سجل الواجب
                               </th>
                               <th>
                                   درجة الواجب
                               </th>
                           </tr>
                           <!-- <div ng-show="table.show"> -->
                           <!-- groups filter -->
                           <!-- (selected_group != null ? n.log.groupid==selected_group.id : true) -->
                           <!-- homework type filter -->
                           <!-- (filterHomeworkType != 'all' ? n.log.homework.type==filterHomeworkType : true)-->
                           <!-- homework general filter -->
                           <!-- ((filterHomeworkType == 'general' && n.log.homework.type == 'general') ? (filterHomeworkOption == 'all' ? true : filterHomeworkOption==n.log.homework.option) : true)-->
                           <!-- homework marks filter -->
                           <!-- ((filterHomeworkType == 'marks' && n.log.homework.type == 'marks') ? compare(n.log.homework.mark, filterHomeworkMark, homeworkMarkSelector) : true)-->
                           <!-- quiz type filter -->
                           <!-- (filterQuizType != 'all' ? n.log.quiz.type==filterQuizType : true)-->
                           <!-- quiz general filter -->
                           <!-- ((filterQuizType == 'general' && n.log.quiz.type == 'general') ? (filterQuizOption == 'all' ? true : filterQuizOption==n.log.quiz.option) : true)-->
                           <!-- quiz marks filter -->
                           <!-- ((filterQuizType == 'marks' && n.log.quiz.type == 'marks') ? compare(n.log.quiz.mark, filterQuizMark, quizMarkSelector) : true)-->
                           <tr ng-repeat="n in logs" ng-show="(selected_group != null ? n.log.groupid==selected_group.id : true) && (filterHomeworkType != 'all' ? n.log.homework.type==filterHomeworkType : true) && ((filterHomeworkType == 'general' && n.log.homework.type == 'general') ? (filterHomeworkOption == 'all' ? true : filterHomeworkOption==n.log.homework.option) : true) && ((filterHomeworkType == 'marks' && n.log.homework.type == 'marks') ? compare(n.log.homework.mark, filterHomeworkMark, homeworkMarkSelector) : true) && (filterQuizType != 'all' ? n.log.quiz.type==filterQuizType : true) && ((filterQuizType == 'general' && n.log.quiz.type == 'general') ? (filterQuizOption == 'all' ? true : filterQuizOption==n.log.quiz.option) : true) && ((filterQuizType == 'marks' && n.log.quiz.type == 'marks') ? compare(n.log.quiz.mark, filterQuizMark, quizMarkSelector) : true)">
                               <td style="">
                                   <p style="display:inline;">
                                       <input type="checkbox" ng-model="n.log.attendant" ng-change="studentAttendanceChanged(n)" id="cid{{n.studentid}}" class="checkbox"
                                       />
                                       <label for="cid{{n.studentid}}">{{n.codeName}}</label>
                                       <i style="margin-right:3%">{{n.fullname}}</i>
                                   </p>
                               </td>
                               <td style="">
                                   <p class="showonprint">{{groupsNames[n.log.groupid]}}</p>
                                   <select class="hideonprint" class="browser-default hideonprint" ng-options="i as groupsNames[i] for i in groupsIds" ng-model="n.log.groupid"
                                       ng-change="studentGroupChanged(n)">
                                       <option value="" disabled selected>المجموعة التى حضر بها الطالب</option>
                                   </select>
                               </td>
                               <td style="" class="hideonprint">
                                   <select class="browser-default" ng-options="i as {'marks': 'درجات', 'general': 'عام'}[i] for i in ['general', 'marks']" ng-model="n.log.quiz.type">
                                       <option value="" disabled selected>إختر</odption>
                                   </select>
                               </td>
                               <td style="">
                                   <div ng-show="n.log.quiz.type == 'marks'">
                                       <p class="showonprint">{{n.log.quiz.mark + ' / ' + n.log.quiz.max }}</p>
                                       <div class="hideonprint" style="display: inline-flex">
                                           <input type="number" value="20" ng-model="n.log.quiz.mark" ng-blur="quizChanged(n)">
                                           <i style="padding: 10%">من</i>
                                           <input type="number" value="20" ng-model="n.log.quiz.max" ng-blur="quizChanged(n)">
                                       </div>
                                   </div>
                                   <div ng-show="n.log.quiz.type == 'general'">
                                       <p class="showonprint">{{{'absent': 'لم يسمّع', 'done': 'سمّع'}[n.log.quiz.option]}}</p>
                                       <select class="hideonprint" class="browser-default" ng-options="i as {'absent': 'لم يسمّع', 'done': 'سمّع'}[i] for i in ['done', 'absent']"
                                           ng-model="n.log.quiz.option" ng-change="quizChanged(n)">
                                           <option value="" disabled selected>إختر</option>
                                       </select>
                                   </div>
                               </td>
                               <td style="" class="hideonprint">
                                   <select class="browser-default" ng-options="i as {'marks': 'درجات', 'general': 'عام'}[i] for i in ['general', 'marks']" ng-model="n.log.homework.type">
                                       <option value="" disabled selected>إختر</option>
                                   </select>
                               </td>
                               <td style="">
                                   <div style="display: inline-flex" ng-show="n.log.homework.type == 'marks'">
                                       <input type="number" value="20" ng-model="n.log.homework.mark" ng-blur="homeworkChanged(n)">
                                       <i style="padding: 10%">من</i>
                                       <input type="number" value="20" ng-model="n.log.homework.max" ng-blur="homeworkChanged(n)">
                                   </div>
                                   <div ng-show="n.log.homework.type == 'general'">
                                       <p class="showonprint">{{{'incomplete': 'غير مكتمل', 'complete': 'كامل'}[n.log.homework.option]}}</p>
                                       <select class="hideonprint browser-default" ng-show="n.log.homework.type == 'general'" class="browser-default" ng-options="i as {'incomplete': 'غير مكتمل', 'complete': 'كامل'}[i] for i in ['incomplete', 'complete']"
                                           ng-model="n.log.homework.option" ng-change="homeworkChanged(n)">
                                           <option value="" disabled selected>إختر</option>
                                       </select>
                                   </div>
                               </td>
                           </tr>
                           <!-- </div> -->
                       </table>
                    </div>
                </div>
            </div>
            <!--Import jQuery before materialize.js-->
            <script type="text/javascript" src="/assets/js/libs/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="/assets/js/libs/materialize.min.js"></script>
            <script type="text/javascript" src="/assets/js/libs/bootstrap-datepicker.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.modal').modal();
                    $('.tooltipped').tooltip({
                        delay: 50
                    });

                });
                var s1, s2, b1, b1;
                s1 = $("#selector_1");
                s2 = $("#selector_2");
                b1 = $("#btn_selector_1");
                b2 = $("#btn_selector_2");
                s1.css("display", "none");
                s2.css("display", "none");
                b1.click(function () {
                    s1.slideToggle("slow");
                });
                b2.click(function () {
                    s2.slideToggle("slow");
                });

            </script>
            <script type="text/javascript" src="/assets/js/scripts/selectonfocus.js"></script>
</body>

</html>
