<!DOCTYPE html>
<html lang="en">

<head>
    <title>Coretrix Stats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/angular/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="../assets/data.js"></script>
    <script>
        var app = angular.module("coretrixStats", []);
        app.controller("ctrl", function($scope) {
            function searchFunction(code) {
                var codenum = stats[code];
                var con = code.toLowerCase().indexOf($scope.queryText.toLowerCase()) > -1;
                if (con || codenum == $scope.queryText)
                    $scope.stats.push(codenum);
                return false;
            }
            $scope.stats = stats;
            $scope.codes = Object.keys(stats);
            $scope.query = function() {
                $scope.stats = [];
                $scope.codes.find(searchFunction);
            }
        });
    </script>
</head>

<body ng-app="coretrixStats" ng-controller="ctrl">
    <div class="container-fluid container-top">
        <div class="panel panel-default">
            <ng-view></ng-view>
            <div class="panel-heading">Coretrix Stats</div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Search Stats<span class="badge" style="margin-left: 5%">{{codes.length}} ± 1</span></span>
                    <input type="text" ng-change="query()" ng-model="queryText" class="form-control" placeholder="Search">
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="stat in stats">{{stat}} : {{codes[stat]}}</li>
            </ul>
        </div>
    </div>
</body>

</html>
