@import url('Cairo.css');

body,
body * {
  font-family: 'Cairo', sans-serif;
}

@media print {

  html,
  body,
  .logs,
  .logs * {
    background: #fff !important;
    background-color: #fff !important;
  }

  .logs th,
  .logs td {
    border: 1px solid black;
  }

  .logs th {
    color: black !important;
    text-shadow: none !important;
  }

  .logs {
    line-height: unset;
  }

  .logs label {
    font-size: 12px;
  }

  .logs p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .logs td {
    padding: 2px 6px !important;
  }

  .logs th {
    padding: 3px 6px !important;
  }

  .hideonprint,
  .material-tooltip,
  .modal {
    display: none !important;
  }

  .showonprint {
    display: block !important;
  }
}

.showonprint {
  display: none;
}

select {
  display: block;
}

body {
  color: #444;
  font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.logs {
  background: #e0e0e0 !important;
}

.logs table {
  background: #f5f5f5;
  border-collapse: collapse;
  font-size: 12px;
  width: 100%;
  margin: 20px 0px;
}

.logs th {
  background: #607d8b;
  color: #fff;
  font-weight: bold;
  border-radius: 0;
  text-shadow: 0 1px 0 #000;
}

.logs td,
.logs th {
  padding: 10px 15px;
  position: relative;
}

.logs table,
.logs td,
.logs th {
  text-align: right !important;
}

.logs td p {
  text-overflow: ellipsis;
}

.logs td input {
  margin: 0 !important;
}

.picker__frame {
  direction: ltr;
}

.margin {
  margin: 5%;
}

#log {
  direction: ltr;
  position: fixed;
  left: 0.5%;
  bottom: 0;
  max-height: 37%;
  overflow: hidden;
}