<div ng-controller="resetPasswordCtrl" class="grey lighten-4 background_img container">
    <div class="margin_top">
        <div class="row">
            <div class="col s7 " style="margin-left: 20%;">
                <div class="card-panel z-depth-4 animated zoomInUp small">
                    <div class="input-field">
                        <input style="padding-left:2%; padding-right:2%;" id="login" type="text" class="validate" ng-model="login">
                        <i id="login_alert" ng-show="login_wrong" class="red-text field_wrong fa fa-exclamation-circle" aria-hidden="true"></i>
                        <label for="login">Username Or Email</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
